[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"

[packages]
mypy = "*"

[requires]
python_version = "3.8"

[scripts]
# lintは
lint = "sh -c 'flake8 src; mypy src;'"
format = "sh -c 'black src && isort src'"
