[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"

[packages]

[requires]
python_version = "3.8"

[scripts]
lint = "flake8 src"
format = "sh -c 'black src && isort src'"

[pipenv]
# blackの安定版が提供されていないため
allow_prereleases = true
